@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@font-face {
    font-family: 'Shikumaru';
    src: url('../assets/fonts/shikamaru.otf') format('opentype');
}

:root {
    --primary: #071A1F;
    --secondary: #183436;
    --tertiary: #375751;
    --accent: #CB9D67;
    --accent2: #FB9757;

    --text: #F4F4F4;

    --nav-width: clamp(200px, 80vw, 500px);
    --nav-left: calc(-1 * var(--nav-width));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;

    letter-spacing: 0.05rem;
    color: var(--text);
}

body {
    background: var(--primary);
}

/* remove default styles */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

iframe {
    border: none;
}

/* global styles */

#menu {
    position: fixed;
    top: 5vh;
    left: 2%;
    z-index: 1000;
}

#menu input {
    display: none;
}

#menu label {
    position: relative;

    cursor: pointer;

    display: flex;
    flex-direction: column;

    height: 40px;
    width: 40px;

    justify-content: space-between;
    align-items: center;
}

#menu label span {
    display: block;
    position: absolute;

    width: 100%;
    height: 3px;

    background: var(--text);

    box-shadow: 0 0 10px var(--primary);

    border-radius: 5px;

    transform: rotate(0deg);

    margin: 5px 0;
    transition: transform 1000ms ease, opacity 400ms ease, align-self 600ms ease, width 400ms ease, margin-top 300ms ease;
    transition-delay: 300ms, 0ms, 1000ms, 400ms, 0ms;
}

#menu label span:nth-child(1) {
    width: 60%;
    align-self: flex-start;

    margin-top: 0;
}

#menu label span:nth-child(2) {
    align-self: center;
    margin-top: 15px;
}

#menu label span:nth-child(3) {
    width: 60%;
    align-self: flex-end;

    margin-top: 30px;
}

#menu label:hover span:nth-child(1) {
    width: 75%;

    transition-delay: 0ms;
}

#menu label:hover span:nth-child(3) {
    width: 75%;

    transition-delay: 0ms;
}

#menu input:checked + label span:nth-child(1) {
    transform: rotate(45deg);

    width: 80%;

    align-self: center;

    margin-top: 15px;
}

#menu input:checked + label span:nth-child(2) {
    width: 0;
    opacity: 0;
}

#menu input:checked + label span:nth-child(3) {
    transform: rotate(-45deg);

    width: 80%;

    align-self: center;

    margin-top: 15px;
}

nav {
    display: flex;
    flex-direction: column;

    position: fixed;

    top: 0;
    left: var(--nav-left);

    background: rgba(24, 52, 54, 0.55);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    height: 100vh;
    width: var(--nav-width);
    padding: 10vh 5vw 5vh 5vw;

    transition: all ease-in-out 700ms;

    z-index: 999;
}

nav.active {
    left: 0;
    border-radius: 0;
}

nav .header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
    padding-bottom: 20px;

    border-bottom: 1px solid var(--text);
}

nav .header pre {
    font-size: 30px;
    font-weight: 500;
}

nav ul {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-end;

    margin-top: 25%;

    gap: 3.5rem;
}


nav ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 20px;

    transition: all 800ms ease-in-out;
    transition-delay: 200ms;

}

nav ul li:nth-child(1) {
    transform: translateX(-50%);
}

nav ul li:nth-child(2) {
    transform: translateX(-75%);
}

nav ul li:nth-child(3) {
    transform: translateX(-100%);
}

nav ul li:nth-child(4) {
    transform: translateX(-125%);
}

nav.active ul li {
    transform: translateX(0);
}

nav ul li a {
    position: relative;
    display: inline-block;

    font-size: 1.5rem;
    font-weight: 500;

    background-image: linear-gradient(
            to right,
            var(--accent),
            var(--accent) 50%,
            var(--text) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: background-position 300ms ease-in-out;
}

nav ul li a:hover {
    background-position: 0;
}

nav ul li a:before {
    content: '';
    position: absolute;
    display: block;

    height: 1px;
    width: 0;

    bottom: 0%;
    left: 0;

    background: var(--accent);
    transition: all 500ms ease-in-out;
}

nav ul li a:hover:before {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

}

#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;

}

#socials-buttons {
    display: flex;
    position: fixed;

    top: 50%;
    left: 110%;

    transform: translate(-50%, -50%);

    gap: 20px;

    flex-direction: column;
}

#socials-buttons a {
    padding: 10px 10px;

    height: 70px;
    width: 70px;

    transition: all ease-in-out 400ms;
}

#socials-buttons a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#socials-buttons a:hover {
    transform: scale(1.2);
}
