{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="en">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>


    <div id="menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <nav>

        <div class="header">
            <pre>Navigation</pre>
        </div>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">Merch</a></li>
        </ul>

        <div id="socials-buttons">
            <a href="https://discord.gg/SZ2remwSDv" target="_blank"><img
                    src=" {% static '/assets/img/discord.png' %}"
                    alt=""
                    draggable="false"
            >
            </a>
            <a href="https://twitch.tv/itsmavey" target="_blank"><img
                    src=" {% static '/assets/img/twitch.png' %}"
                    alt=""
                    draggable="false"
            >
            </a>

            <a href="https://www.tiktok.com/@itsmavey" target="_blank"><img
                    src=" {% static '/assets/img/tiktok.png' %}"
                    alt=""
                    draggable="false"
            >
            </a>

        </div>
    </nav>




    <header>

        <video autoplay muted loop id="background-video">
            <source src="{% static 'assets/img/background.webm' %}" type="video/webm">
        </video>

        {% block header %}  {% endblock %}
    </header>

    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>

    </footer>


    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>