{% extends "base.html" %}
{% load static %}

{% block title %}ItsMavey{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'home/css/home-header.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home-style.css' %}">

{% endblock %}

{% block header %}

    <h1>ItsMavey</h1>

    {% if stream_status == "true" %}
        <!-- <p>Live Now!</p> -->

        <div id="liveLink">
            <a href="https://twitch.tv/itsmavey">
                <div id="live">

                    <h2><em>ItsMavey</em> is live now!</h2>
                    <iframe
                            src="https://player.twitch.tv/?channel=itsmavey&parent=127.0.0.1"
                            height="720"
                            width="1280"
                            allowfullscreen>
                    </iframe>

                </div>
            </a>
            <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">
            <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">
        </div>

    {% else %}

        <div id="offline">
            <div class="button">
                <a href="https://twitch.tv/itsmavey" target="_blank">Watch Live
                </a>
                <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">

            </div>

            <div class="button">
                <a href="https://discord.gg/SZ2remwSDv" target="_blank">Join Discord
                </a>
                <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">

            </div>
        </div>
    {% endif %}

    <div id="scrollArrow">
        <div class="arrow-container">
            <img src="{% static 'assets/img/arrow.png' %}" alt="" draggable="false">
        </div>
    </div>

{% endblock %}

{% block main %}

    <section id="about">

        <h2>About Mavey</h2>

        <spline-viewer url="https://prod.spline.design/IdZ2EyaPP3I7arSb/scene.splinecode"></spline-viewer>

        <div class="container">
            <div class="slogan-container">
                <h3>I ain't going bald!</h3>
                <h3>#1 Baguette on Twitch</h3>

                <div class="button">
                    <a href="https://twitch.tv/itsmavey" target="_blank">Watch Live
                    </a>
                    <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">

                </div>
            </div>
            <pre>Hi, I am Mavey,

I am a software engineering student that just share his passions on live.

I mostly play games on stream, but I also code and listen to music.
            </pre>
        </div>

    </section>

    <section class="games">
        <h2>Games</h2>
        <ul>
            <li>
                <a href="#">
                    <div class="card">

                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="card">

                    </div>
                </a>
        </ul>
    </section>

    <section class="merch">
        <h2>Merch</h2>
        <p>Coming soon!</p>
    </section>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'home/js/home-main.js' %}"></script>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.59/build/spline-viewer.js"></script>
{% endblock %}
