{% extends "base.html" %}
{% load static %}

{% block title %}ItsMavey{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% endblock %}

{% block header %}

    <h1>ItsMavey</h1>

    {% if stream_status == "true" %}
        <!-- <p>Live Now!</p> -->

    {% else %}

        <div id="offline">
            <div class="button">
                <a href="https://twitch.tv/itsmavey" target="_blank">Watch Live
                </a>
                <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">

            </div>

            <div class="button">
                <a href="https://discord.gg/SZ2remwSDv" target="_blank">Join Discord
                </a>
                <img src="{% static 'assets/img/katana.png' %}" alt="" draggable="false">

            </div>
        </div>
    {% endif %}

    <div id="scrollArrow">
        <div class="arrow-container">
            <img src="{% static 'assets/img/arrow.png' %}" alt="" draggable="false">
        </div>

        <div id="text-container-scrollArrow">

        </div>
    </div>

{% endblock %}

{% block main %}

    <section class="about">

        <div class="livePreview">
            <div>

                <h2>Live Now!</h2>
                <p>Playing {% if game %}{{ game }}{% else %}a game{% endif %}</p>

            </div>
            <iframe
                    src="https://player.twitch.tv/?channel=itsmavey&parent=127.0.0.1"
                    height="720"
                    width="1280"
                    allowfullscreen>
            </iframe>

        </div>

        <h2>About</h2>
        <p>Hey, I'm Mavey! I'm a variety streamer on Twitch. I play a lot of different games, but I'm mostly known for
            my Minecraft content. I'm also a full-time student, so I stream when I can. I'm always looking for new games
            to play and new people to meet, so feel free to stop by and say hi!</p>
    </section>

    <section class="games">
        <h2>Games</h2>
        <ul>
            <li>
                <a href="#">
                    <div class="card">

                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="card">

                    </div>
                </a>
        </ul>
    </section>

    <section class="merch">
        <h2>Merch</h2>
        <p>Coming soon!</p>
    </section>

{% endblock %}
